[Pacman Mirrorlist Settings]
country="United States"

[System Settings]
region="America"
city="Detroit"
lang="en_US.UTF-8"
keymap="en"
hostname="archlinux"
editor="nano"
qtplatform="wayland"
qtplatformtheme="gtk3"

[User Settings]
username="Someone"
password="12345678abc"
